@media screen and (min-width: 300px) {
    body {
        background-color: #0A192F;
        font-family: 'Lucida Console';
        color: #CCD6F6;
        margin: 0;
        padding: 0;
    }

    header {
        position: fixed;
        width: 100%;
        height: fit-content;
        font-size: 3vw;
        opacity: 0.8;
        background-color: #0A192F;
        top: 0;
        float: left;
        z-index: 1;
    }

    header #logo1 {
        float: left;
        font-size: 3vw;
        width: fit-content;
        margin: 1vw 0 0 3vw;
        color: #64FFDA;

    }

    header #logo2 {
        float: left;
        font-size: 3vw;
        width: fit-content;
        margin: 1vw 0vw 0vw 0vw;
        color: #CCD6F6;

    }

    header #navigation {
        float: right;
        margin: 2% 4vw;
        width: fit-content;
        font-size: 1.5vw;
        z-index: 1;
    }

    header #navigation a {
        color: #64FFDA;
    }

    header #navigation span {
        color: #CCD6F6;
        text-decoration-line: underline;
        margin-right: 4vw;

    }

    /*main*/

    main {
        float: left;
        margin: 10vw 0 0 5vw;
    }

    main p {
        margin-left: 0.2vw;
        font-size: 1.2vw;

    }

    main h1 {
        margin: 0;
        color: #64ffda;
        font-size: 5vw;
    }

    main h2 {
        margin: 0;
        font-size: 3vw;
        color: #ccd6f6;
    }

    main #skilled {
        display: flex;
        flex-direction: row;
        font-size: 1.2vw;
        color: #8892b0;
    }

    main #skilled h6 {
        margin-right: 2vw;
        color: #64ffda;
    }

    main #button-cv {
        font-size: 1.2vw;
        border: solid 0.1vw #64ffda;
        color: #64ffda;
        width: fit-content;
        padding: 1vw 3vw;
        margin-bottom: 15vw;
    }

}